body{
    background-color: hsl(0, 0%, 90%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300vh;  
    font-family: 'Montserrat', sans-serif; 
}
h1{
    background-color: #8B0000;
    box-shadow: 0 .8rem 1rem rgb(0,0,0,.6) ;
    top: 0%; left:0%; right: 0% ;
    padding: 20px;
    z-index: 5;
    position: fixed;
    color: whitesmoke;
}
.group1{
    justify-content: center;
    margin-top: 120px;
    margin-left: 30px;
}
.section1{
    margin-left: 50px;
}
img{
    width: 20vw;
    height: 50vh;
    margin-left: 20px;
    justify-content: space-around;
    border: black solid 3px;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.5) ;
    transition: 1s;
    margin-top: 30px;
}
h3{
    font-size: 25px;
    color: #363636;
}
@media screen and (max-width:600px){
    h1{
        background-color: #8B0000;
        box-shadow: 0 .8rem 1rem rgb(0,0,0,.6) ;
        top: 0%; left:0%; right: 0% ;
        padding: 12px;
        z-index: 5;
        position: fixed;
        color: whitesmoke;
        font-size: 20px;
    }
    .group1{
        justify-content: center;
        margin-top: 40px;
        margin-left: 10px;
    }
    .section1{
        margin-left: 16px;
    }
    img{
        width: 50vw;
        height: 50vh;
        margin-left: 6px;
        justify-content: space-around;
        border: black solid 3px;
        box-shadow: 0 .5rem 1rem rgb(0,0,0,.5) ;
        transition: 1s;
        margin-top: 150px;
    }
    h3{
        font-size: 25px;
        color: #363636;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
    h1{
        background-color: #8B0000;
        box-shadow: 0 .8rem 1rem rgb(0,0,0,.6) ;
        top: 0%; left:0%; right: 0% ;
        padding: 12px;
        z-index: 0;
        position: fixed;
        color: whitesmoke;
        font-size: 30px;
    }
    .group1{
        justify-content: center;
        margin-top: 80px;
        margin-left: 20px;
    }
    .section1{
        margin-left: 32px;
    }
    img{
        width: 50vw;
        height: 50vh;
        margin-left: 12px;
        justify-content: space-around;
        border: black solid 3px;
        box-shadow: 0 .5rem 1rem rgb(0,0,0,.5) ;
        transition: 1s;
        margin-top: 150px;
    }
    h3{
        font-size: 25px;
        color: #363636;
    }
}
@media screen and (min-width:768px){
    h1{
        background-color: #8B0000;
        box-shadow: 0 .8rem 1rem rgb(0,0,0,.6) ;
        top: 0%; left:0%; right: 0% ;
        padding: 20px;
        z-index: 0;
        position: fixed;
        color: whitesmoke;
    }
    .group1{
        justify-content: center;
        margin-top: 120px;
        margin-left: 30px;
    }
    .section1{
        margin-left: 50px;
    }
    img{
        width: 20vw;
        height: 50vh;
        margin-left: 20px;
        justify-content: space-around;
        border: black solid 3px;
        box-shadow: 0 .5rem 1rem rgb(0,0,0,.5) ;
        transition: 1s;
        margin-top: 30px;
    }
    h3{
        font-size: 25px;
        color: #363636;
    }
}